header{
    background-color: blueviolet;
    height: 30vh

}
div{
    background-color: brown;
}
body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
      
      